        /* Styling for the main body  */
        /* Centers the page */
        /* makes page smaller */
        body {
            margin: 0 auto;           
            max-width: 1000px;        
        }

        /* gray background colour  */
        /* adds space inside the boxes  */

        .header, .footer, .note {
            background: #cfcfcf;    
            padding: 25px;           
        }

         /* spacing above the header  */
        .header {
             margin-top: 10px;       
        }

        /* Space inside area  */
        .container {
            padding: 10px;           
        }

         /* Removes top margin and adds space below  */
        h1 {
            margin: 0 0 10px 0;            
            font-size: 40px;
        }

        /* Space above headings  */
        h2 {
            font-size: 32px;
            margin-top: 30px;            
        }

        p {
            font-size: 20px;
        }

        /* Space above footer */
        .footer {
            margin-top: 30px;            
            font-size: 18px;
        }
